<div class="container">
    <header class="results-header">
        <h1>Risultati per: <span class="highlight">"{{searchQuery}}"</span></h1>

        <p class="results-count" id="resultsCount"> </p>
    </header>

    <div class="movie-grid" id="movieGrid">
        <div class="loading-spinner-container">
            <div class="loading-spinner"></div>
            <p class="loading-text">Stiamo cercando i titoli migliori per te...</p>
        </div>
    </div>
</div>



{{> chat}}
{{!-- Carichiamo lo script che gestisce la logica --}}
<script src="/javascripts/moviesLoader.js"></script>


<input type="hidden" id="searchQueryData" value="{{searchQuery}}">